html {
    box-sizing: border-box;
}

:root {
    --medfont: 16px;
    --largefont: 24px;
}

button {
    background-color: #253746;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: var(--medfont);
    border-radius: 20px;
    transition: linear-gradient 0.5s ease;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    top: 0;
}

button:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2) 0 0);
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding-bottom: 5px;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: var(--medfont);
    font-weight: 700;
    line-height: 26.4px;
    color: black;
    text-align: left;
}

li {
    padding-bottom: 5px;
}
h1 {
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: var(--largefont);
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
    color: black;
    display: inline-block;
    text-align: left;
}

p {
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: var(--medfont);
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
    color: black;
    text-align: left;
}

#page {
    display: grid;
    grid-template-areas: "head head" "nav  main" "foot  foot";
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto;
}

#page>header {
    grid-area: head;
    background-color: #98A4AF;
    border-radius: 20px;
    text-align: left;
    padding: 15px;
    height: auto;
}

#page>nav {
    grid-area: nav;
    background-color: #E81E75;
    border-radius: 20px;
    padding: 30px;
    border: 5px;
    text-align: center;
    height: auto;
}

#page>main {
    grid-area: main;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 30px;
    border: 5px;
    text-align: center;
    height: auto;
}

#page>footer {
    grid-area: foot;
    background-color: #E81E75;
    border-radius: 20px;
    padding: 30px;
    border: 5px;
    text-align: left;
    height: 10vh;
}