:root {
    --medfont: 16px;
    --largefont: 24px;
}

button {
    background-color: #E72176;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: var(--medfont);
    border-radius: 20px;
    transition: linear-gradient 0.5s ease;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0 0);
}

a {
    text-decoration: none;
}

.container {
    height: 400px;
    width: 600px;
    background-color: #253746;
    border-radius: 20px;
    padding: 60px;
    border: 5px;
    text-align: center;
    grid-area: middle;
}

h1 {
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: var(--largefont);
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
    color: white;
    display: inline-block;
    text-align: left;
    "

}

p {
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: var(--medfont);
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
    color: white;
    display: inline-block;
    text-align: left;
}

body {
    display: grid;
    grid-template-columns: 1fr, 4fr, 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "left middle right";
}

#target {
    grid-area: left;
}

#second {
    grid-area: middle;
}

#right {
    grid-area: middle;
}